# build output
build 

# dependencies
node_modules
yarn.lock
package-lock.json
out
.eslintcache

# other
.DS_Store
.env
env/

/local
/local/*

scripts/dockerbuilder.sh
scripts/local-builder.sh
scripts/look-for-envvars.sh
scripts/reset-original-files.sh

.vscode/settings.json